# Ignore all pictures in res/upload/all folder
res/upload/*.jpg
res/upload/*.jpeg
res/upload/*.png
res/upload/*.gif

# Ignore all pictures in res/upload/student folder
res/upload/student/*.jpg
res/upload/student/*.jpeg
res/upload/student/*.png
res/upload/student/*.gif
